.titleStyle {
    font-size: 1.5em;
    margin: 10px 0 10px 0;
}

.storeNumber {
    font-size: 1.25rem;
    margin: 0 0 10px 0;
}

h5 {
    margin-top: 10px;
}

.titleImage {
    margin-top: 10px;
}